body {
    background-image: url("images/359d6b6d4ce11edec4f78e3f4cbe8526.jpg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}<div class="card">
            <img src="images/lolitahistory.webp" alt="Lolita History">
            <h2>Lolita History</h2>
            <p>TUTAJ WPISZ SWÓJ OPIS</p>
        </div>



header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(
        135deg,
        #ffe4f2,
        #fce4ff
    );
    border-bottom: 3px solid #f5cde0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.gallery {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.8rem;
}

.card p {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #f8dceb;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
}

/* Telefony */

@media (max-width: 768px) {

    header h1 {
        font-size: 2rem;
    }

    .gallery {
        padding: 10px;
    }

    .card h2 {
        font-size: 1.4rem;
    }
}
